# .env.example
DATABASE_URL="postgresql://johndoe:mypassword@localhost:5432/mydb?sslmode=require"
GEMINI_API_KEY=
APP_URL=https://trace-earth.onrender.com
NEXTAUTH_URL=https://trace-earth.onrender.com
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
